.container {
    width: 1000px;
    text-align: center;
}

h1 {
    color: #fec008;
    background-color: #212124;
    padding-bottom: 10px;
}

.table-hover .col {
    background-color: #212124;
    color: #fec008;
}
