.content {
    width: 850px;
    margin-left: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.square {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 10px;
    border-radius: 10%;
    border: 2px solid black;
}
